# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all directories
!*/
# Unignore Makefile
!Makefile

# C++ object and executables
**/*.o

# IDE caches
*.cache
*.log
*.swp
*.swo
.vscode/
.idea/
